@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================================
   AeroOps Sidebar
   ========================================= */

.sidebar-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-scroll::-webkit-scrollbar {
    display: none;
}